.FormAdmin{
	height: 100vh;
	padding-top: 100px;
	background-color: #F6F6F6;
	margin-bottom: 0;
	padding-bottom: 20px;
}

p{
	font-size: 1.2em;
}

admin{
	text-align: left;
	width: 30%;
	margin: 30px auto;
}

admin input{
	padding: 5px;
	width: 100%;
	border-radius: 10px;
	border:none;
	margin-top: 10px;
}

admin label{
	font-size: 0.8em;
	margin-left: 20px;

}

admin button{
	padding: 10px 20px; 
	border: none;
	background-color: white;
	font-size: 0.9em;
	letter-spacing: 3px;
	color: black;
	border-radius: 20px;
	box-shadow: 0 0 0 rgba(0,0,0,0.4);
	transition: 200ms box-shadow;
}

admin button:hover{
		box-shadow: 2px 2px 10px rgba(0,0,0,0.3);

}

@media screen and (max-width: 65em) {

.Admin{
	padding-top: 40px;
	font-size: 2em;
	height: auto;
}
p{
	padding: 50px;
}
admin{
	text-align: center;
	width: 50%;
	margin: 30px auto;
}
admin input{
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	border:none;
	margin-top: 10px;
}
}